* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #ffffff;
  width: 100%;
  overflow: hidden;
}
.circulos {
  position: relative;
  width: 35vw;
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circulos i {
  position: absolute;
  inset: 0;
  border: 2px solid #000000;
  transition: 0.5s;
}
.circulos i:nth-child(1) {
  border-radius: 38% 62% 63% 37% / 38% 62% 63% 37%;
  animation: circulo1 60s linear infinite;
}
.circulos i:nth-child(2) {
  border-radius: 41% 44% 56% 59% / 41% 44% 56% 59%;
  animation: circulo2 64s linear infinite;
}
.circulos i:nth-child(3) {
  border-radius: 41% 34% 66% 43% / 41% 34% 66% 43%;
  animation: circulo3 68s linear infinite;
}
.circulos:hover i {
  border: 6px solid var(--clr);
}
@keyframes circulo1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes circulo2 {
  0% {
    transform: rotate(120deg);
  }
  100% {
    transform: rotate(480deg); 
  }
}

@keyframes circulo3 {
  0% {
    transform: rotate(240deg);
  }
  100% {
    transform: rotate(600deg);
  }
}
@keyframes circuloSalida1 {
  0% {
    transform: scale(1); 
  }
  100% {
    transform: scale(0.5); 
  }
}
@keyframes circuloSalida2 {
  0% {
    transform: scale(1); 
  }
  100% {
    transform: scale(0.5); 
  }
}
@keyframes circuloSalida3 {
  0% {
    transform: scale(1); 
  }
  100% {
    transform: scale(0.5); 
  }
}
.login {
  position: absolute;
  width: 20vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.login h2 {
  font-size: 1.8em;
  color: #000000;
  margin-bottom: 5%;
}
.login .inputBx {
  position: relative;
  width: 100%;
}
.login .inputBx input {
  position: relative;
  width: 100%;
  padding: 4%;
  background: transparent;
  border: 1px solid #000000;
  border-radius: 10px;
  font-size: 1.2em;
  color: #000000;
  box-shadow: none;
  outline: none;
}
.login .inputBx label {
  width: 100%;
  font-size: 1.2em;
}
.login .inputBx input[type="submit"] {
  width: 100%;
  background: #0078ff;
  background: linear-gradient(45deg, #ADD8E6, #2294f3);
  border: none;
  cursor: pointer;
}
.login .inputBx input::placeholder {
  color: rgba(0, 0, 0, 0.75);
}
.login .links {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2%;
}
.login .links button {
  background: none;
  border: none;
  font: inherit;
  color: #2294f3;
  text-decoration: none;
  cursor: pointer;
}
.login .links a {
  color: #000000;
  text-decoration: none;
}
